
.check-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.check-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 3px;
    transition: all .2s;
    background: #f0f8ff;
}

.check-inline__input:checked + .check-inline__label {
    background: #384878;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.check-inline__input:focus + .check-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}