

input[type='file'] {
    display: none;
    }
input[type='submit'] {
    display: none;
}

ul{
    list-style: none;
    padding-left: 0;
}

.btn {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1.2rem 5rem;
    margin: 1em auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #384878;
    border-radius: 0.5rem;
    border: 2px solid #384878;
    border-radius: 0;
    background: #f0f8ff;
}
  
button.btn:hover{
    color: #fff;
    background: #384878;
}

.file_form{
    /* margin-top: 30px; */
    margin-bottom: 0%;
    /* padding-top: 20px; */
    padding-bottom: 0%;
    text-align: center;
}

.csv_message{
    font-weight: 700;
    color: #384878;
    font-size: 1.2em;
}

.wrapper{
    text-align: center;
}

.content{
    display: inline-block;
    width: 80%;
}

.main_section{
    float: left;
    width: 50%;
    min-width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img_menu{
    width: 80%;
}

.info_message{
    /* padding: 10px; */
    max-width: max-content;
    text-align: center;
    padding: 5px 10px;
    margin: 1em auto;
    margin-bottom: 2%;
    color: #384878;
    font-size: 1.2em;
    font-weight: bold;
    /* border-left :solid 5px #384878; */
    border-bottom: solid 1px gray;
    /* text-shadow: 1px 1px 2px silver; */
}


.model_param_menu li{
    max-width: max-content;
    padding: 0.5rem 1rem;
    margin-top: 0px;
    margin: 10px auto;
    border-radius: 3px;
    transition: all .2s;
    background: #f0f8ff;
    outline-color: #384878;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
.model_param_menu label{
    font-weight: bold;
    color: #384878;
    padding-right: 5px;
}

.model_param_menu input{
    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

.model_param_menu input[type="number"]{
    
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

.model_param_menu input[type="button"]{
    cursor: pointer;
}

.model_param_menu select{
    font-size: 18px;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    /* appearance: none; */
    /* width: 100%; */
    height: 30px;
    background: transparent;
    position: relative;
    z-index: 1;
    padding: 0 1em;
    border: 1px solid #384878;
    border-radius: 2px;
    background-color: #ffffff;
}

.btn_spinner{
    width: 2em;
    height: 2em;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 767px) {
    .content{
        display: inline-block;
        margin: 0;
        width: 80%;
    }
    
    .main_section{
        float: none;
        width: auto;
        /* min-width: 30%; */
        padding: 20px auto;
        margin: 0%;
    }
}
