<!-- templates/index.html -->

<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <script src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='//cdn.jsdelivr.net/npm/sweetalert2@11'></script>

  <script src="{{ url_for('static',filename='js/src.js') }}"></script>
  <script src="{{ url_for('static',filename='js/ajax.js') }}"></script>
  <script src="{{ url_for('static',filename='js/model_menu.js') }}"></script>
  <script src="{{ url_for('static',filename='js/model_param.js') }}"></script>
  <script src="{{ url_for('static',filename='js/graph_menu.js') }}"></script>
  <script src="{{ url_for('static',filename='js/null_menu.js') }}"></script>
  <script src="{{ url_for('static',filename='js/other_menu.js') }}"></script>

  <link rel='stylesheet' href='static/css/style.css'>
  <link rel='stylesheet' href='static/css/header.css'>
  <link rel='stylesheet' href='static/css/select.css'>
  <link rel='stylesheet' href='static/css/check.css'>

  <link rel="shortcut icon" href="#">

  <title>WebAI</title>

</head>
<body>
  
<!-- Header Start -->
<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <!-- <a href="#" class="brand">Brand</a> -->
    <h1 class='title'>WebAI</h1>
    <nav class="nav">
      <ul class="nav__wrapper">
        
        <li class="nav__item">
          <button type='button' onClick="window.open('static/PDF/機械学習の概要.pdf','machine_learning')">機械学習とは？</button>
        </li>
        <li class="nav__item">
          <button type='button' onClick="window.open('static/PDF/アプリ概要.pdf','app')">アプリ概要</button>
        </li>
        <li class="nav__item">
          <button type='button' onClick="window.open('static/PDF/モデル解説.pdf','model')">モデル解説</button>
        </li>
        <!-- <li class="nav__item">
          <button type='button' >チュートリアル</button>
        </li> -->
        <li class="nav__item">
          <button type='button' onClick="window.open('static/PDF/サンプルデータ詳細.pdf','sample')">サンプルデータ</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Header End -->
  
    <form id='upload_form' onsubmit='return false;'>

      <div id = 'wrapper' class='wrapper'>
        <div id='header' class = 'file_form'>

          <!-- <button class='btn'>
            <label for='file_upload'>
              ファイルをアップロード
            </label>
            <input id = 'file_upload' name='upfile' type='file' accept='.xlsx,.csv' class='btn'>
          </button> -->

          <button class='btn' onclick='alertSelect();'>
            <label>　サンプルを使用する　</label>
          </button>

          <p id = 'file_name'  class = 'csv_message'>選択されていません</p>

        </div><!-- header -->

      </div><!-- wrapper -->

    </form>


</body>
</html>
