<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebAI</title>
</head>
<body>
  
  <div>
    <form >
      <div id="file_form">
        <button class="btn">
          <label for="file_upload">
            ファイルをアップロード
          </label>
          <input id = "file_upload" name="upfile" type="file" accept=".xlsx,.csv" class="btn">
        </button>

        <button class="btn" onclick="alertSelect();">
          <label>　サンプルを使用する　</label>
        </button>

      <p id = "file_name"  class = "csv_message">選択されていません</p>
      <input type="text" id = "save_file_name" name = "file_name" style="display: none;">
      
    </div>
    </form>
  </div>  

</body>
</html>
